<h1> Cher {{ contact.nom }}</h1>
<table>
    <tr>
        <th>Pseudo </th>
        <td>{{ contact.user.username }}</td>
    </tr>
    <tr>
        <th>Mots de passe </th>
        <td>{{ password }}</td>
    </tr>

</table>