{% extends "@FOSUser/layout.html.twig" %}
{% block stitre %}
    Modifier Profile
{% endblock %}
{% block fos_user_content %}
    <div class="panel">
        <div class="panel-body">
            {% include "@FOSUser/Profile/edit_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}
