{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="panel">
        <div class="panel-body">
            {% include "@FOSUser/Profile/show_content.html.twig" %}
        </div>
    </div>

{% endblock fos_user_content %}
