{% extends "@FOSUser/layout.html.twig" %}
{% block stitre %}
    Changer Password
{% endblock %}
{% block fos_user_content %}
<div class="panel">
    <div class="panel-body">
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
